projects/p2/part1/Anaconda3-2024.10-1-Linux-x86_64.sh
projects/p2/data/blank_sky.fil
projects/p2/data/blank_sky_masked.fil
projects/p2/data/blank_sky_masked_f1_t32.fil
projects/p2/data/calibrator_source.fil
projects/p2/data/calibrator_source_masked.fil
projects/p2/data/pulsardata.fil
projects/p2/part2/pulsardata_masked_f1_t32.fil
projects/p2/part2/pulsardata_masked_f1_t100.fil
projects/p2/part2/pulsardata_masked_f1_t128.fil
projects/p2/part2/pulsardata_masked_f1_t150.fil
projects/p2/part2/pulsardata_masked.fil